extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/schedule.css')

block content
  include header.pug

  .content
    h2 Upload a new post
    form(method='POST', action='', enctype='multipart/form-data').form
      .item.required
        label(for="file") Select an image or video to post.
        input(type='file', name='media_content').media

      .item.required
        label(for="media_description") Enter a complete description.
        textarea(name='media_description', cols="30", rows="10").description

      button(type="submit").btn.submit Submit