extends layout

block styles
  link(rel='stylesheet', href='https://unpkg.com/purecss@1.0.0/build/grids-min.css')
  link(rel='stylesheet', href='/stylesheets/schedule.css')

block content
  include header.pug

  .content#app
    create

block scripts
  script(src='/javascripts/schedule.js')