.form {
  display: flex;
  flex-direction: column;
}

.form > *:not(:last-child) {
  margin-bottom: 1.5rem;
}

.form .item {
  display: flex;
  flex-direction: column;
}

.form .item label {
  font-weight: bold;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  color: #666666;
}
